:host {
  all: initial !important;
  opacity: 0 !important;
  transition: opacity .15s cubic-bezier(.88, .02, .92, .66) !important;
  box-sizing: border-box !important;
  position: absolute !important;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.5) !important;
  z-index: 2147483647 !important;
}
main {
  background-color: papayawhip;
  color: #000;
  font: normal 14px sans-serif;
  white-space: nowrap;
}
table {
  border-spacing: 0;
  color: inherit;
}
table, tr, td {
  padding: 0;
  margin: 0;
}
tr:nth-child(even) {
  background-color: #8883;
}
td {
  line-height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  height: 24px;
}
td:first-child {
  padding-left: 1em;
}
td:last-child {
  padding-right: 1em;
}
tr:first-child td {
  padding-top: .5em;
}
tr:last-child td {
  padding-bottom: .5em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.gray {
  color: gray;
}
#url {
  max-width: 100px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#alt, #title {
  max-width: 50vw;
  white-space: normal;
  line-height: 1.2;
}
@media (min-width: 500px) {
  #alt, #title {
    max-width: 20em;
  }
}
#close {
  cursor: pointer;
  padding: .5ex 1ex;
  font: normal 15px/1.0 sans-serif;
  position: absolute;
  top: 0;
  right: 0;
}
#close:active {
  background-color: #f003;
}
#close:hover {
  background-color: #f803;
}
@media (prefers-color-scheme: dark) {
  main {
    background-color: #333;
    color: #aaa;
  }
  a {
    color: skyblue;
  }
  b {
    color: #bbb;
  }
}
